{% extends 'main/base.html' %}

{% block content %}
    <table class="cart-table">
        <thead>
            <tr>
                <th class="cart-header">Image</th>
                <th class="cart-header">Name</th>
                <th class="cart-header">Quantity</th>
                <th class="cart-header">Price for one</th>
                <th class="cart-header">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for cart in carts %}
            <tr>
                <td><img src="{{cart.product.image.url}}" class="cart-image" /></td>
                <td class='cart-data' ><small>{{cart.product.name}}</small></td>
                <td class='cart-data'><small>{{cart.quantity}}</small></td>
                <td class='cart-data'><small>Rs {{cart.product.price}}</small></td>
                <td class='cart-data'><small>Rs {{cart.sub_total}}</small></td>
                {% if cart.quantity < cart.product.quantity %}
                <td class='cart-data'>
                    <form action="{% url 'increment-cart' cart.product.id %}" method="GET">
                        {% csrf_token %}
                        <button type="submit" name="product_obj" value="{{cart.id}}" class="cart-button">Increment</button>
                    </form>
                </td>
                {% endif %}
                <td class='cart-data'>
                    <form action="{% url 'decrement-cart' cart.product.id %}" method="GET">
                        {% csrf_token %}
                        <button type="submit" name="product_obj" value="{{cart.id}}" class="cart-button">Decrement</button>
                    </form>
                </td>
                <td class='cart-data'>
                    <form action="{% url 'delete-cart' cart.product.id %}" method="GET">
                        {% csrf_token %}
                        <button type="submit" name="product_obj" value="{{cart.id}}" class="cart-button">Remove From Cart</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">
                    <h1>Empty Cart</h1>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="" method="GET">
        {% csrf_token %}
        <button type="submit" name="product_obj" value="" class="cart-button">Checkout</button>
    </form>
{% endblock content %}