{% extends 'main/base.html' %} {% load crispy_forms_tags %} {% block content %}
{% comment %}
<h1>Checkout</h1>
{% endcomment %}
<div class="content-section">
  <form method="POST" action="{% url 'checkout' %}">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Login</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Checkout</button>
    </div>
  </form>
</div>
{% endblock content %}
