{% extends 'main/base.html' %}
{% block content  %}
    <h1>category List</h1>
    <ul class="category-list">
        {% for category in categories %}
        <li class="category-item">
            <span class="category-name">{{ category.name }}</span>
            <br>
            Quantity: <span class="category-quantity">{{ category.description }}</span>
            <br>
            <button> <a href={% url 'category-detail' category.id %}>View Products</a></button>
        </li>
        {% empty %}
        <li>No categories available.</li>
        {% endfor %}
    </ul>
{% endblock content  %}

